body{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(68, 68, 68);
color: white;
padding-left: 100px;
padding-right: 100px;
}


.headline{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headline-img:hover{
    box-shadow: 0 0 15px rgba(150, 148, 147, 0.8);
}

.headline-img{
    object-fit: cover;
background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.headline-img2{
    object-fit:cover;
}

.headline-box{
    display: flex;
    justify-content: space-between;
}

.einleitung {
    display: flex;
    justify-content: space-between;
}
#einleitung{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

#fest1{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

#fest1-ueberschrift{
   text-align: center;
    font-size: large;
    color: lightskyblue;
}


#inhalt{
    padding-left: 125px;
    padding-right: 125px;
    flex-direction: column;
}

#foto1 , #foto2 {
height: 400px;
}

a{
    color: white;
}

u{
    color: white;
}
nav{
    border: 2px solid white;
    margin-right: auto;
    font-size: large;
}

#fest2-ueberschrift{
    text-align: center;
     font-size: large;
     color: lightskyblue;
 }

 #fest2{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
