body{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(68, 68, 68);
color: white;
}


.headline{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headline-img:hover{
    box-shadow: 0 0 15px rgba(150, 148, 147, 0.8);
}

.headline-img{
    object-fit: cover;
background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.headline-box{
    display: flex;
    justify-content: space-between;
}